<h3><%= @user.name %>'s Targets</h3>
 <ul class="collection">
     <% @user.targets.each do |target| %>
    <li class="collection-item">
     <span class="title"><strong>Target:</strong> <%= target.title %></span>
      <p><strong>Description:</strong> <%= target.description %></p>
      <p>
        <%= link_to 'Visit', target, class: 'btn' %>
      </p>
    </li>
        <% end %>
  </ul>

<br>

<p><%= link_to 'Return to people', users_path, class: 'btn' %> <%= link_to 'Return to targets', targets_path, class: 'btn' %></p>